* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
li {
  text-align: left;
}
html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
    arial, STHeiTi, sans-serif;
}
a {
  text-decoration: none;
}
.clearfix {
  clear: both;
  overflow: hidden;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.content-box {
  position: absolute;
  left: 210px;
  right: 0;
  top: 0;
  transition: left 0.3s ease-in-out;
  background: #f0f0f0;
  height: 100vh;
}
.content {
  width: auto;
  height: 100%;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
.content-collapse {
  left: 65px;
}
.show-aside {
  left: 0;
}
.container {
  padding: 30px 30px 0px 30px;
  background: $white;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: calc(100% - 33px);
}

.move-enter-active,
.move-leave-active {
  transition: opacity 0.5s;
}
.move-enter,
.move-leave {
  opacity: 0;
}

.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.scrollbar::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollbar::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(110, 104, 104, 0.2);
  background: #797777;
}
.scrollbar::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(146, 138, 138, 0.2);
  border-radius: 10px;
  background: #ededed;
}

.sidebar-container {
  .nest-menu .el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $subMenuHover !important;
    }
  }
}

//动画
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
